page-about {

    ion-content {
        left: 0px;
        top: 0;
        position: relative;
        display: block;
        width: 101%;
        height: 106%;
        contain: layout size style;
    }

}
